@using GestaoDeEquipamentos.ConsoleApp.Models;

@model CadastrarEquipamentoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastro de Equipamento - Gestão de Equipamentos</title>
</head>

<body>
    <h1>Gestão de Equipamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/equipamentos/visualizar">Visualizar Equipamentos</a>

    <hr />

    <h3>Cadastro de Equipamento</h3>

    <form action="/equipamentos/cadastrar" method="post">

        <label for="Nome">Nome do Equipamento:</label>
        <br />
        <input type="text" name="Nome" id="Nome" />

        <br />

        <label for="PrecoAquisicao">Preço de Aquisição do Equipamento:</label>
        <br />
        <input type="text" name="PrecoAquisicao" id="PrecoAquisicao" />

        <br />

        <label for="DataFabricacao">Data de Fabricação do Equipamento:</label>
        <br />
        <input type="date" name="DataFabricacao" id="DataFabricacao" />

        <br />

        <label for="FabricanteId">Fabricante do Equipamento:</label>
        <br />
        <select name="FabricanteId" id="FabricanteId">
            @foreach (var fabricante in Model.FabricantesDisponiveis)
            {
                <option value="@fabricante.Id">@fabricante.Nome</option>
            }
        </select>

        <hr />

        <button type="submit">Gravar</button>
    </form>
</body>
</html>