@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model ExcluirEquipamentoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Equipamentos";
}

<button><a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a></button>
<button><a href="/equipamentos/visualizar">Visualizar Equipamento</a></button>

<hr>

<p>Você tem certeza que deseja excluir o registro "@Model.Nome"?</p>

<form action="/equipamentos/excluir/@Model.Id" method="post">
    <button type="submit">Confirmar</button>
    <button><a href="/equipamentos/visualizar">Voltar</a></button>   
</form>