@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model ExcluirEquipamentoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Exclusão de Equipamento - Gestão de Equipamentos</title>
</head>

<body>
    <h1>Gestão de Equipamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a> /
    <a href="/equipamentos/visualizar">Visualizar Equipamentos</a>

    <hr />

    <h3>Exclusão de Equipamento</h3>

    <p>Você tem certeza que deseja excluir o registro "@Model.Nome"?</p>

    <form action="/equipamentos/excluir/@Model.Id" method="post">
        <button type="submit">Confirmar</button>
        <a href="/equipamentos/visualizar">Voltar</a>
    </form>
</body>
</html>