@using GestaoDeEquipamentos.ConsoleApp.Models;

@model VisualizarEquipamentosViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Equipamentos";
}

<button><a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a></button>

<hr>

<ul>
    @foreach (var e in Model.Registros)
    {
        <li>
            @e.ToString()<button><a href="/equipamentos/editar/@e.Id">Editar</a> </button> <button><a href="/equipamentos/excluir/@e.Id">Excluir</a></button>
        </li>
    }
</ul>