@using GestaoDeEquipamentos.ConsoleApp.Models;

@model VisualizarEquipamentosViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Equipamentos";
}

<h3>Visualizando Equipamentos</h3>

<div class="visualizar-cadastrar">
    <a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a>
</div>

<div>
    @foreach (var e in Model.Registros)
    {
        <ul class="card-visualizar">
            <li>
                <div>
                    <p><strong>Nome: </strong>@e.Nome</p>
                    <p><strong>Fabricante: </strong>@e.NomeFabricante</p>
                    <p><strong>Data fabricação: </strong>@e.DataFabricacao.ToString("d")</p>
                    <p><strong>Preço de Aquisição: </strong>@e.PrecoAquisicao.ToString("C2")</p>
                </div>

                <div>
                    <a href="/equipamentos/editar/@e.Id">Editar</a>
                    <span><a href="/equipamentos/excluir/@e.Id">Excluir</a></span>
                </div>
            </li>
        </ul>
    }
</div>
<hr>