﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/style.css" />

    <title>@ViewBag.Titulo - Gestão de Equipamentos</title>
</head>

<body>

    <div id="cabecalho">
        <h2>Gestão de Equipamentos</h2>
    </div>

    <div>
        <a class="button-inicial" href="/">Pagina inicial</a>
        <a class="button-inicial" href="/fabricantes/visualizar">Fabricantes</a>
        <a class="button-inicial" href="/equipamentos/visualizar">Equipamentos</a>
        <a class="button-inicial" href="/chamados/visualizar">Chamados</a>
    </div>

    <hr>

    <main>
        @RenderBody()
    </main>
</body>
</html>
