﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/style.css" />

    <title>@ViewBag.Titulo - Gestão de Equipamentos</title>
</head>

<body>

    <div id="cabecalho">
        <h2>Gestão de Equipamentos</h2>
    </div>

    <div style="max-width: 768px; text-align: center;">
        <h4 id="button-inicial"><a href="/">Inicio</a></h4>
        <h4 id="button-inicial"><a href="/fabricantes/visualizar">Fabricantes</a></h4>
        <h4 id="button-inicial"><a href="/equipamentos/visualizar">Equipamentos</a></h4>
        <h4 id="button-inicial"><a href="/chamados/visualizar">Chamados</a></h4>
    </div>

    <hr>

    <header>
        <h2>@ViewBag.Titulo</h2>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
