@using GestaoDeEquipamentos.ConsoleApp.Models
@model NotificacaoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Equipamentos";
}

<p style="font-size: 18px;">@Model.Mensagem</p>
