@using GestaoDeEquipamentos.ConsoleApp.Models


@model NotificacaoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Model.TituloPagina - Gestão de Equipamentos</title>
</head>

<body>
    <h1>Gestão de Equipamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /

    <hr />

    <h3>@Model.TituloPagina</h3>

    <p>@Model.Mensagem</p>
</body>
</html>
