﻿@{
Layout = "_Layout";
ViewBag.Titulo = "";
}

<a class="botoes" href="/fabricantes/visualizar">
    <h4>Fabricantes</h4><p>Gerencie os fabricantes aqui</p>
 </a>

<a class="botoes" href="/equipamentos/visualizar">
    <h4>Equipamentos</h4><p>Gerencie os equipamentos aqui</p>
</a>

<a class="botoes" href="/chamados/visualizar">
    <h4>Chamados</h4><p>Gerencie os chamados de manutenção aqui.</p>
</a>





   
