﻿@{
Layout = "_Layout";
ViewBag.Titulo = "";
}


<button class="button-style"><a href="/fabricantes/visualizar"><h3>Fabricantes</h3></a></button>
<button class="button-style"><a href="/equipamentos/visualizar"><h3>Equipamentos</h3></a></button>
<button class="button-style"><a href="/chamados/visualizar"><h3>Chamados</h3></a></button>

   
