@using GestaoDeEquipamentos.ConsoleApp.Models
@model CadastrarChamadoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastar Chamado";
}

<button><a href="/chamados/cadastrar">Cadastrar Novo Chamado</a></button>
<button><a href="/chamados/visualizar">Visualizar Chamados</a></button>

<hr>

<form action="/chamados/cadastrar" method="post">

    <label for="Titulo">Título do Chamado:</label>
    <br />
    <input type="text" name="Titulo" id="Titulo" />

    <br />

    <label for="Descricao">Descrição do Chamado:</label>
    <br />
    <textarea name="Descricao" id="Descricao"></textarea>

    <br />

    <label for="EquipamentoId">Equipamento do Chamado:</label>
    <br />
    <select name="EquipamentoId" id="EquipamentoId">
        @foreach (var equipamento in Model.EquipamentosDisponiveis)
        {
            <option value="@equipamento.Id">@equipamento.Nome</option>
        }
    </select>

    <hr />

    <button type="submit">Gravar</button>
</form>