@using GestaoDeEquipamentos.ConsoleApp.Models
@model EditarChamadoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Chamados";
}

<div class="visualizar-cadastrar">
    <a href="/chamados/cadastrar">Cadastrar Novo Chamado</a>
    <a href="/chamados/visualizar">Visualizar Chamados</a>
</div>

<form class="forms" action="/chamados/editar/@Model.Id" method="post">

    <label for="Titulo">Título do Chamado:</label>
    <br />
    <input type="text" name="Titulo" id="Titulo" value="@Model.Titulo" />
    <br />

    <label for="EquipamentoId">Equipamento do Chamado:</label>
    <br />
    <input type="hidden" name="EquipamentoId" value="@Model.EquipamentoId" />
    <input type="text" value="@Model.EquipamentosDisponiveis.FirstOrDefault(e => e.Id == Model.EquipamentoId)?.Nome" readonly style="background-color: #f5f5f5;" />
    <br>
    <br>

    <label for="Descricao">Descrição do Chamado:</label>
    <br />
    <textarea style="min-width: 250px; min-height: 70px;" name="Descricao" id="Descricao" maxlength="100"></textarea>
    <p id="contadorDescricao" style="font-size: 12px; margin-top: -5px;">Restam 100 caracteres</p>

    <hr />

    <button class="botao-submit" type="submit">Gravar</button>
</form>

<script>
    const textarea = document.getElementById('Descricao');
    const contador = document.getElementById('contadorDescricao');
    const max = 100;

    textarea.addEventListener('input', function () {
        const restante = max - textarea.value.length;
        contador.textContent = `Restam ${restante} caracteres`;
    });
</script>