@using GestaoDeEquipamentos.ConsoleApp.Models
@model ExcluirChamadoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Finalizar Chamados Concluídos";
}

<button><a href="/chamados/cadastrar">Cadastrar Novo Chamado</a></button>
<button><a href="/chamados/visualizar">Visualizar Chamados</a></button>

<hr>

<p>Você confirma que o chamado "@Model.Titulo" foi conluído e pode ser Finalizado/Excluido?</p>

<form action="/chamados/excluir/@Model.Id" method="post">
    <button type="submit">Confirmar</button>
    <button> <a href="/chamados/visualizar">Voltar</a></button>
   
</form>
