@using GestaoDeEquipamentos.ConsoleApp.Models
@model ExcluirChamadoViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Finalizar Chamados Concluídos";
}

<div class="visualizar-cadastrar">
    <a href="/chamados/cadastrar">Cadastrar Novo Chamado</a>
    <a href="/chamados/visualizar">Visualizar Chamados</a>
</div>
<hr>
<p>Você confirma que o chamado "@Model.Titulo" foi conluído e pode ser Finalizado/Excluido?</p>

<form action="/chamados/excluir/@Model.Id" method="post">
    <button class="botao-submit" style="background-color: var(--cor-excluir);" type="submit">Confirmar</button>
    <a href="/chamados/visualizar">Voltar</a>
</form>
<hr>