@using GestaoDeEquipamentos.ConsoleApp.Models
@model VisualizarChamadosViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Chamados";
}

<button><a href="/chamados/cadastrar">Cadastrar Novo Chamado</a></button>

<hr>

<ul>
    @foreach (var e in Model.Registros)
    {
        <li>
            @e.ToString() <button> <a href="/chamados/editar/@e.Id">Editar</a></button> <button><a href="/chamados/excluir/@e.Id">Finalizar</a></button>
        </li>
    }
</ul>
