@using GestaoDeEquipamentos.ConsoleApp.Models
@model VisualizarChamadosViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Chamados";
}

<div class="visualizar-cadastrar">
    <a href="/chamados/cadastrar">Cadastrar Novo Chamado</a>
</div>

<div>
    @foreach (var e in Model.Registros)
    {
        <ul class="card-visualizar">
            <li>
                <div>
                    <p><strong> Equipamento: @e.NomeEquipamento</strong> | <strong>@e.Titulo</strong></p>
                    <p>Data: @e.DataAbertura</p>
                    <p>@e.Descricao</p>

                    <a href="/chamados/editar/@e.Id">Editar</a>
                    <span><a href="/chamados/excluir/@e.Id">Finalizar</a></span>
                </div>
            </li>
        </ul>
    }
</div>
<hr>