@using GestaoDeEquipamentos.ConsoleApp.Models

@model CadastrarFabricanteViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Fabricante";
}

<form action="/fabricantes/cadastrar" method="post">
    <label>Nome do Fabricante:</label>
    <br />
    <input type="text" name="nome" />

    <br />

    <label>Email do Fabricante:</label>
    <br />
    <input type="text" name="email" />

    <br />

    <label>Telefone do Fabricante:</label>
    <br />
    <input type="text" name="telefone" />
    <hr />

    <button type="submit">Gravar</button>
</form>
</html>