@using GestaoDeEquipamentos.ConsoleApp.Models

@model CadastrarFabricanteViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Fabricante";
}


<a class="visualizar" href="/equipamentos/visualizar">Visualizar Equipamentos</a>

<form class="forms" action="/fabricantes/cadastrar" method="post">
    <label>Nome do Fabricante:</label>
    <br />
    <input type="text" name="nome" />

    <br />

    <label>Email do Fabricante:</label>
    <br />
    <input type="text" name="email" />

    <br />

    <label>Telefone do Fabricante:</label>
    <br />
    <input type="text" name="telefone" />
    <br>
    <button class="botao-submit" type="submit">Gravar</button>
</form>
<hr>