@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model EditarFabricanteViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Fabricante";
}

<div class="visualizar-cadastrar">
    <a href="/fabricantes/cadastrar">Cadastrar Novo Fabricante</a>
    <a href="/fabricantes/visualizar">Visualizar Fabricantes</a>
</div>

<form class="forms" action="/fabricantes/editar/@Model.Id" method="post">
    <label>Nome do Fabricante:</label>
    <br />
    <input type="text" name="nome" value="@Model.Nome" />

    <br />

    <label>Email do Fabricante:</label>
    <br />
    <input type="text" name="email" value="@Model.Email" />

    <br />

    <label>Telefone do Fabricante: </label>
    <br />
    <input type="text" name="telefone" value="@Model.Telefone" />
    <br>
    <button class="botao-submit" type="submit">Gravar</button>
</form>
<hr />