@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model ExcluirFabricanteViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Fabricante";
}

<h3>Exclusão de Fabricante</h3>

<div class="visualizar-cadastrar">
    <a href="/fabricantes/cadastrar">Cadastrar Novo Fabricante</a>
    <a href="/fabricantes/visualizar">Visualizar Fabricantes</a>
</div>
<h3>Exclusão de Fabricante</h3>
<p>Você tem certeza que deseja excluir o registro "@Model.Nome"?</p>

<form action="/fabricantes/excluir/@Model.Id" method="post">
    <hr />
    <button class="botao-submit" style="background-color: var(--cor-excluir);" type="submit">Confirmar</button>
    <a href="/fabricantes/visualizar">Voltar</a>
</form>
<hr>