@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model ExcluirFabricanteViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Fabricante";
}

<button><a href="/fabricantes/cadastrar">Cadastrar Novo Fabricante</a></button>
<button><a href="/fabricantes/visualizar">Visualizar Fabricantes</a></button>


<hr />

<h3>Exclusão de Fabricante</h3>

<p>Você tem certeza que deseja excluir o registro "@Model.Nome"?</p>

<form action="/fabricantes/excluir/@Model.Id" method="post">
    <button type="submit">Confirmar</button>
    <button><a href="/fabricantes/visualizar">Voltar</a></button>
</form>