@using GestaoDeEquipamentos.ConsoleApp.Models
@using GestaoDeEquipamentos.ConsoleApp.ModuloFabricante

@model VisualizarFabricantesViewModel;

﻿@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Fabricantes";
}

<div class="visualizar-cadastrar">
    <a href="/fabricantes/cadastrar">Cadastrar Novo Fabricante</a>
</div>


<div>
    @foreach (DetalhesFabricanteViewModel f in Model.Registros)
    {
        <ul class="card-visualizar">
            <li>
                <div>
                    <p><strong>Fabricante: </strong>@f.Nome</p>
                    <p>Contato</p>
                    <p>Email: @f.Email</p>
                    <p>Telefone: @f.Telefone</p>

                    <a href="/fabricantes/editar/@f.Id">Editar</a>
                    <span><a href="/fabricantes/excluir/@f.Id">Excluir</a></span>
                </div>
            </li>
        </ul>
    }
</div>

<hr>