:root {
    --cor-neutra: #F5F5F5;
    --cor-secundaria: #709176;
    --cor-fonte: #23231A;
}

body {
    font-family: 'Lucida Sans Unicode', sans-serif;
    background-color: var(--cor-neutra);
}

div{
    text-align: center;
}

h2 {
    color: var(--cor-neutra);
}

ul{
    list-style: none;
}

hr{
    margin-bottom: 20px; 
}

a {
    text-decoration: none;
    border: 2px solid var(--cor-secundaria);
    margin-top: 5px;
    color: var(--cor-fonte);
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: var(--cor-neutra);
    background-color: var(--cor-secundaria);
    transition: 0.4s;
    border: 2px solid var(--cor-neutra);
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    transition: 0.4s;
}

li > a {
    display: inline-flex;
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 550;
    font-weight: 600;
}

main {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
}

#cabecalho {
    display: inlie-flex;
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 10px 10px;
    font-size: 1.2em;
}

.botoes {
    display:inline-flex;
    text-align:center;
    width: 250px;
    height: 110px;
    text-align: center;
}

.botao-cadastrar{
    margin: 10px;
}

.button-inicial {
    display: inline-flex;
    width: 110px;
    flex-wrap: wrap;
    margin: 10px auto;
}

.card-visualizar {
    display: inline-flex;
    max-width: 400px;
    min-width: 348px;
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-fonte);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}




